manifest {
    homePage = 'https://github.com/QuentinLetourneur/Let-it-bin'
    mainScript = 'let-it-bin.nf'
}

executor {
    name = 'slurm'
    queueSize = 50
}

singularity {
    enabled = true
    runOptions = "-B /pasteur:/pasteur -H /pasteur/homes/qletourn:/mnt"
}

process {
    executor='slurm'
    queue = 'hubbioit'
    clusterOptions='--qos=hubbioit'
    errorStrategy = 'terminate'
    container = [path to let-it-bin.simg]

    withName: filtering {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 2
        memory = { 10.GB * task.attempt }
    }

    withName: trimming* {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 2
        memory = { 5.GB * task.attempt }
    }

    withName: khmer* {
        errorStrategy  = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 2
        memory = { 60.GB * task.attempt }
    }

    withName: decoy* {
        clusterOptions = "--qos=fast"
    }

    withName: bowtie2_index {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
        maxRetries = 10
        memory = {10.GB * task.attempt}
    }

    withName: count_matrix {
        clusterOptions = "--qos=fast"
    }

    withName: index_bam {
        clusterOptions = "--qos=fast"
    }

    withName: idxstat {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 4
        memory = { 5.GB * task.attempt }
    }

    withName: gen_cov_bed {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 4
        memory = { 15.GB * task.attempt }
    }

    withName: abun_and_link_profile {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 3
        memory = { 50.GB * task.attempt }
    }

    withName: jgi_summa_depths {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 3
        memory = { 15.GB * task.attempt }
    }

    withName: Canopy {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 8
        memory = { 10.GB * task.attempt }
    }

    withName: maxbin {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 5
        memory = { 14.GB * task.attempt }
    }

    withName: Metabat {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 7
        memory = { 30.GB * task.attempt }
    }

    withName: Metabat2 {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 4
        memory = { 10.GB * task.attempt }
    }

    withName: CONCOCT {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 4
        memory = { 10.GB * task.attempt }
    }

    withName: COCACOLA {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 4
        memory = { 80.GB * task.attempt }
    }

    withName: MetaGen {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 4
        memory = {80.GB * task.attempt}
    }

    withName: Binsanity_wf {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 4
        memory = {80.GB * task.attempt}
    }

    withName: checkm {
        errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 2
        memory = { 100.GB * task.attempt }
    }

    withName: annotation_by_bin {
        clusterOptions = "--qos=fast"
    }

    withName: eval_complet_conta {
        clusterOptions = "--qos=fast"
    }

    withName: resume_res {
        clusterOptions = "--qos=fast"
    }

    withName: dastool {
        errorStrategy  = { task.exitStatus == 143 ? 'retry' : 'terminate' }
        maxRetries = 4
        memory = { 20.GB * task.attempt }
    }
}

timeline.enabled = true
dag.enabled = true
report.enabled = true
