manifest {
    homePage = 'https://gitlab.pasteur.fr/qletourn/Benchmark_binning'
    description = ''
    mainScript = 'benchmark_binning.nf'
}

process {
    executor='slurm'
    queue = 'common'
    clusterOptions='--qos=fast' 
    beforeScript ='source /local/gensoft2/adm/etc/profile.d/modules.sh;module use /pasteur/projets/policy01/Matrix/modules;export PYTHONPATH=$HOME.local/lib/python2.7/site-packages/:$PYTHONPATH;export PATH=/pasteur/homes/qletourn/tools/metabat:$PATH'
    module=
    'Python/2.7.8:SPAdes/3.10.0:AlienTrimmer/0.4.0:bowtie2/2.2.9:khmer/2.0:mbma/tars:clc-assembly-cell/5.0.0:samtools/1.3:hmmer/3.1b2:pplacer/v1.1-alpha18-2:prodigal/2.6.3:CheckM/1.0.7:cd-hit/v4.6.1:MUMmer/3.23:gnuplot/5.0.4:blast+/2.2.40:KronaTools/2.4:Python/3.6.0:Python/2.7.8:prodigal/2.6.3:bedtools/2.25.0:picard-tools/1.94:fastx_toolkit'
}

executor {
    name = 'slurm'
    queueSize = 50
}

timeline.enabled = true
trace.enabled = true
dag.enabled = true

